<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplicationtest">
    <uses-permission android:name="android.permission.INTERNET"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".YouTube.App">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChoiceSingerOrProduct"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.MainActivity" />
        </activity>
        <activity
            android:name=".SingersActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.ChoiceSingerOrProduct" />
        </activity>
        <activity
            android:name=".PoetsActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">

        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/app_name"
            android:parentActivityName=".ChoiceSingerOrProduct">
        </activity>
        <activity
            android:name=".RegistrationP.SingersRegistration"
            android:label="@string/app_name"
            android:parentActivityName=".Registration">
        </activity>

        <activity
            android:name=".RegistrationP.PoetsRegistration"
            android:label="@string/app_name"
            android:parentActivityName=".Registration">
        </activity>
        <activity
            android:name=".RegistrationP.ComposerRegistration"
            android:label="@string/app_name"
            android:parentActivityName=".Registration">
        </activity>
        <activity
            android:name=".ParioritySingers"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.SingersActivity" />
        </activity>
        <activity
            android:name=".SulationSinger_Tab1"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.ParioritySingers" />
        </activity>
        <activity
            android:name=".SulationSinger_Tab2"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.ParioritySingers" />
        </activity>
        <activity
            android:name=".SulationSinger2"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>
        <activity
            android:name=".PrioirtyPoets"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.PoetsActivity" />
        </activity>
        <activity
            android:name=".SolutionPoets"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.PriorityPoets" />
        </activity>
        <activity
            android:name=".ComposersActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.ChoiceSingerOrProduct" />
        </activity>
        <activity
            android:name=".PriorityComposers"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.ComposersActivity" />
        </activity>
        <activity
            android:name=".SolutionComposer"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.intent.action.MAIN"
                android:value="com.example.myapplicationtest.PriorityComposers" />
        </activity>
        <activity
            android:name=".YouTube.YouTubeActivity"
            android:label="@string/app_name"
            android:parentActivityName=".MainActivity">
        </activity>
    </application>

</manifest>